.user-menu .nav-item svg {
  display: inline-block;
  /* float: right; */
}
.user-menu .nav-pills .nav-link {
  margin-bottom: 0.5rem;
}
.user-menu.bg-dark .nav-pills .nav-link:not(.active) {
  border: 1px solid #810ca8;
  color: white;
}
.user-menu.bg-light .nav-pills .nav-link:not(.active) {
  border: 1px solid #802c6e;
  color: #802c6e;
}
.user-menu.bg-dark .nav-pills .nav-link.active {
  background-color: #810ca8;
  color: white;
}
.user-menu.bg-light .nav-pills .nav-link.active {
  background-color: #802c6e;
  color: white;
}
