/* theme dark */
.bg-black {
  background-color: black;
}
.bg-light-black {
  background-color: #2d033b !important;
}
.text-black {
  color: black;
}
.text-light-black {
  color: #2d033b;
}
.bg-dark-primary {
  background-color: #810ca8 !important;
}
.text-dark-primary {
  color: #810ca8 !important;
}

/* theme light */
.bg-light {
  background-color: white;
}
.bg-light-2 {
  background-color: #dadcde;
}
.bg-light-primary {
  background-color: #802c6e !important;
}
.text-light-primary {
  color: #802c6e !important;
}
.react-tel-input input {
  width: 100% !important;
}
